:where(.css-dev-only-do-not-override-p7e5j5).ant-btn-default {
  background: mediumseagreen;
  border-color: #d9d9d9;
  color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.btnLogin {
  width: 100%;
}
