.login {
  .form {
    width: 380px;
    background-color: white;
    padding: 10% 6%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 75%;
  }

  .text {
    font-weight: 600;
  }
}
