:where(.css-dev-only-do-not-override-313mgz).ant-pro-layout
  .ant-pro-sider-logo
  > a
  > img {
  height: fit-content;
}
:where(.css-dev-only-do-not-override-313mgz).ant-pro-layout
  .ant-pro-sider.ant-pro-sider-fixed {
  background-color: mediumseagreen;
}

:where(.css-dev-only-do-not-override-313mgz).ant-pro-base-menu-inline-item-title
  .ant-pro-base-menu-inline-item-text {
  color: white;
}

:where(.css-dev-only-do-not-override-1bbqsty).ant-menu
  .ant-menu-submenu-open.ant-menu-submenu-inline
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow,
:where(.css-dev-only-do-not-override-1bbqsty).ant-menu-inline.ant-menu-root
  .ant-menu-item
  > *,
:where(.css-dev-only-do-not-override-1bbqsty).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > * {
  color: white;
}
